.item {
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

form {
    background-color: rgb(18, 79, 24);
    color: #fff;
    padding: 5px;
    margin: 0 10px;
    border-radius: 5px;
    height: 35px;
}

button {
    background-color: rgb(18, 79, 24);
    color: #fff;
    border: none;
}

label {
    padding: 2px 5px;
}

select {
    border-radius: 5px;
    padding: 2px 5px;
    height: 25px;
    width: 120px;
}

input {
    float: right;
    width: 45px;
    border-radius: 5px;
    padding: 2px 5px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}